.div1{
    background-color: lightblue;
    text-align: center;
    color: black;
    border: 5px solid black;
    border-radius: 5px;
    height: 100%;
}
.div2{
    text-align: center;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
}
table{
    text-align: center;
    /*width: 100%;*/
    background-color: aliceblue;
    font-weight: bold;
    font-size: 50px;
    margin-left: 500px;
}
td{
    border: 2px solid black;
    vertical-align: middle;
    text-align: center;
    /*width: 48px;*/
}
input{
    font-size: 24px;
    text-align: center;
    width: 48px;
    height: 48px;
    border: 2px solid black;
    padding: 0;
    border: 0;
    outline: none;
}
button{
    height: 40px;
    width: 100px;
    margin-bottom: 20px;
}

